body {
  font-family: 'Roboto', sans-serif;
}

button:focus {
  outline: none;
}

.contentContainer {
  padding: 50px;
  margin: 0 auto 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.left {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 flex: 1 150px;
 justify-content: flex-start;
 width: 35%;
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
 color: #484848;
 position: sticky;
}

.right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  width: 65%;
}


.gridPhoto {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 200px;
  height: 200px;
  margin: 7.5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  overflow: hidden;
  z-index: -1;
}

.gridImage img{
  object-fit: contain;
  max-width: auto;
  max-height: 150%;
  object-fit: cover;
  vertical-align: bottom;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        }

        .showAllPhotos {
          width: 100%;
          margin-left: 7.5px;
          padding-top: 23.5px;
          font-weight: 400;
          color: #008489;
          font-size: 14px;
}

.displayPhotoContainer {
  width: 715px;
  height: 550px;
  position: relative;
}

.modal {
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  background-color:  #ffffff;
  position: fixed;
  z-index: 5;
}

.displayPhoto img{
  border-radius: 2.5%;
  flex: 3;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.scrollButtons {
  z-index: 5;
  border: none;
  color: #484848;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  flex: 1;
}

#leftB {
  padding: 45% 50px  45% 5px;
}

#rightB {
  padding: 45% 5px 45% 50px;
}


#modalButton{
  width: 100%;
  margin-left: 7.5px;
  padding-top: 23.5px;
  font-weight: 400;
  color: #008489;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  border: none;
}

#modalButton:hover {
  text-decoration-line: underline;
  font-weight: 500;
}

.fullPageModal {
  display: grid;
  margin: auto;
  background-color:#ffffff;
  left: 0;
  top:0;
  z-index: 6;
}

.exit {
  z-index: 8;
  border: none;
  color:  #484848;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  left: 0;
  top:0;
}

#photoNumber {
  font-weight: 500;
}

#photoAuthor {
  font-weight: 400;
}

.photoInfo {
  display: block;
  padding-top: 600px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #484848;
  width: 100%;
  z-index: 10;
}

.titleContainer {
  position: sticky;
  float: left;
}